[Desktop Entry]
Encoding=UTF-8
Exec=/home/[Add_user_here]/ExternalApps/Telegram/Telegram
Icon=/home/[Add_user_here]/ExternalApps/Telegram/telegram128.png
Type=Application
Terminal=false
Comment=Telegram
Name=Telegram
GenericName=telegram
StartupNotify=false
Categories=Network;
